*{
    box-sizing: border-box;
}

/* #login {
    padding: auto;
}
.align-items-center{
    border:1px solid black;
 
} */
.align-item-center-right{
/* border:1px solid green; */
width: 150px;
height: 45px;
position: sticky;
top: 40px;
left: 1000px;

}

.col-lg-9{
    margin-left: 250px;
}
@media(max-width: 576px){
    .col-lg-9{
        /* max-width: 540px; */
        margin-left: 10px;
    }
}

@media(min-width: 576px){
    .col-lg-9{
        /* max-width: 540px; */
        margin-left: 10px;
    }
}


@media (min-width: 1200px) {
    .col-lg-9{
        /* max-width: 540px; */
        margin-left: 100px;
    }
  }


#product{
    margin-right: 100px;
    font-weight:bold;
}

#design{
    margin-right: 100px;
    font-weight:bold;
}

#store{
    margin-right: 100px;
    font-weight:bold;
}

#fourm{
    margin-right: 100px;
    font-weight:bold;
}

#topic{
    margin-right: 100px;
    font-weight:bold;
}

.navbar-nav{
    width: 1000px;
}

#cardborder{
    width: 440px;
}





.h-swicher-wrapper .swicher-label {
    float: left;
    width: 50%;
    font-size: 1rem;
    line-height: 33px;
    color: #000;
    text-align: center;
    cursor: pointer;
    position: inherit;
    z-index: 10;
    margin-bottom: 0;
    -webkit-transition: color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: transform;
}


.h-swicher-wrapper .h-swicher {
    display: inline-block;
    height: 45px;
    padding: 4px;
    background: #fff;
    width: 300px;
    border-radius: 30px;
    border: 1px solid rgba(170, 170, 170, 0.75);
    position: relative;
}




.h-swicher-wrapper .swicher-input {
    display: none;
}


.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}





.h-swicher-wrapper .swicher-input:checked + .swicher-label {
    color: #EE7800;
    font-weight: bold;
}



.h-swicher-wrapper .swicher-label {
    float: left;
    width: 50%;
    font-size: 1rem;
    line-height: 33px;
    color: #000;
    text-align: center;
    cursor: pointer;
    position: inherit;
    z-index: 10;
    margin-bottom: 0;
    -webkit-transition: color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: transform;
}






label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.h-swicher-wrapper {
    font-family: Helvetica, Noto Sans TC, Roboto, "Microsoft JhengHei", Arial, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}






.login-wrapper {
    font-size: 14px;
    background-color: #FFF;
    -webkit-box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}




.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}


/* .container-fluid{

height: 50px;

} */


/* #footer{
    height: 50px;
} */




