/*----------------------------------------*/
/*           20. 404 CSS
/*----------------------------------------*/


.error-sec {

  &__img {
    margin-bottom: 1.625rem;

    & img {
      display: block;
      margin: 0 auto;
    }
  }

  &__content {
    text-align: center;

    & h1 {
      color: $sunset-orange;
      font-weight: 600;
      margin-bottom: 1rem;
      font-size: 1.25rem;
      @include bp-medium {
        font-size: 2.25rem;
      }
    }

    & .text {
      margin-bottom: 1.625rem;
      line-height: 1.2;
      font-size: 0.875rem;

      @include bp-medium {
        font-size: 1.25rem;
      }
    }

    & .back-btn {
      @extend %btn-yellow;
    }
  }
}