/*----------------------------------------*/
/*           08. blog CSS
/*----------------------------------------*/



.blog-post {
  clear: both;
  /* border bottom devider */
  &--br {
    border-bottom: 1px solid rgba($gainsboro, 0.45);
    padding-bottom: 1.875rem;
    margin-bottom: 1.875rem;
    @include bp-medium {
      padding-bottom: 2.5rem;
      margin-bottom: 2.5rem;
    }
  }

  /* inner image */
  &__img {
    position: relative;
    cursor: pointer;

    & img {
      width: 100%;
      @include border-radius(.4rem);
    }

    &:before {
      content: '';
      background: rgba($dark-gray, 0.3);
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      opacity: 0;
      @include border-radius(.4rem);
      @include transition(all .4s ease);
    }

  }

  /* inner content */
  &__inner {
    padding-top: 1.25rem;

    &--title {
      & h4 {
        font-size: 1.25rem;
        font-weight: 600;
        margin-bottom: 1rem;
        @include transition(.3s ease);
        @include bp-medium {
          font-size: 1.375rem;
        }

        &:hover {
          color: $yellow;
        }
      }
    }

    &--details {
      font-size: 80%;
      margin-bottom: .75rem;
      line-height: 1.2;

      & span {
        color: $gray;
        opacity: 0.7;
      }

      & .author {
        color: $gray;
        display: inline-block;
      }

    }

    &--content {
      & p {
        margin-bottom: 1rem;
      }
    }

    &--btn {
      & .btn {
        @extend %btn-yellow;
      }
    }
  }

  /* blog post grid view */
  &--grid {
    @include mx-bp-large {
      margin-bottom: 1.875rem;
    }

    & .blog-post {
      &__inner {
        &--title {
          & h4 {
            font-size: 1.1rem;
          }
        }

        &--des {
          & p {
            margin-bottom: 0;
          }
        }

        &--btn {
          margin-top: 1rem;
        }
      }

      &__btn {
        position: absolute;
        text-align: center;
        top: 80%;
        left: 50%;
        opacity: 0;
        @extend %btn-light-outline;
        @include transform(translate(-50%, -50%));
        @include transition(all .4s ease);
      }
    }

    &:hover {
      & .blog-post__btn {
        top: 50%;
        left: 50%;
        opacity: 1;
      }
    }
  }

  &--mb {
    @include bp-large {
      margin-bottom: 1.875rem;
    }
  }

  /* blog post list view */
  &--list {
    background: $light-gray;
    overflow: hidden;
    @include border-radius(0.4rem);
    @include bp-small {
      @include d-flex;
    }

    & .blog-post__img {
      position: relative;
      margin-top: -2px;
      margin-left: -2px;
      margin-bottom: -2px;

      & img {
        @include border-top-right-radius(0);
        @include border-bottom-right-radius(0);
        @include mx-bp-small {
          @include border-bottom-left-radius(0);
        }
      }
    }

    & .blog-post__inner {
      position: relative;
      padding: 1.25rem;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      @include bp-large {
        padding: 1.5rem;
      }


      &--title {
        & h4 {
          font-size: 1.1rem;
          margin-bottom: 1rem;
        }
      }

      &--content {
        height: 85px;
        overflow: hidden;
        margin-bottom: 1rem;

        & p {
          margin-bottom: 1rem;
        }
      }

      &--details {
        margin-top: auto;
        margin-bottom: 0;
      }

      &--btn {
        text-align: right;
        margin-top: auto;
      }
    }
  }

  /* blog post hover */
  &:hover {
    & .blog-post__img {
      &:before {
        opacity: 1;
      }
    }
  }
}

/* single blog post */
.single-post {
  &__title {
    font-weight: 600;
    font-size: 1.25rem;
    margin: 1.25rem 0 1rem 0;
    @include bp-medium {
      font-size: 1.5rem;
    }
  }

  &__body {
    & blockquote {
      font-size: 1rem;
      font-style: italic;
      padding: 0.625rem 1.25rem;
      margin: 0 0 1rem;
      color: $gray;
      border-left: 5px solid rgba($gainsboro, 0.3);
    }
  }

  &__tag {
    margin-top: 1.5rem;

    & span {
      font-weight: 600;
      display: inline-block;
      padding-right: 0.5rem;
    }

    & a {
      display: inline-block;
      color: $gray;
      border: 1px solid $gainsboro;
      padding: 0.25rem 0.5rem;
      text-align: center;
      margin-right: 0.25rem;
      margin-bottom: 0.25rem;
      font-size: 0.875rem;
      @include border-radius(1.5rem);
      @include transition(0.3s ease);

      &:hover {
        border-color: $yellow;
      }
    }
  }

  &__footer {
    padding-top: 2.125rem;
    @include bp-medium {
      @include d-flex;
      @include align-items(center);
      @include justify-content(space-between);
    }

    & .post-details {
      font-size: 0.875rem;

      & a {
        color: $gray;

        &:hover {
          color: $yellow;
        }
      }

      & .author {
        margin-right: 0.5rem;
      }
    }

    & .share-post {
      @include mx-bp-medium {
        margin-top: 1rem;
      }

      & ul {
        display: inline-block;

        & li {
          display: inline-block;

          & .social-icon {
            padding: .375rem;
            font-size: 1.25rem;
            @include transition(.3 ease);

            &.fb-icon {
              color: $facebook;
            }

            &.tr-icon {
              color: $twitter;
            }

            &.pin-icon {
              color: $pinterest;
            }

            &.li-icon {
              color: $linkedin;
            }
          }
        }
      }
    }
  }

}
