/*----------------------------------------*/
/*           10. breadcrumb CSS
/*----------------------------------------*/

.custom-breadcrumb {
  padding: 1.875rem 0;
  margin: 0;
  background: transparent;
  font-size: 0.875rem;
  line-height: 22px;
  @include border-radius(0);
  @include bp-medium {
    padding: 3.125rem 0;
    font-size: 1rem;
  }

  & .breadcrumb-item + .breadcrumb-item::before {
    content: "›";
    font-size: 1.25rem;
    line-height: 1;
  }

  & .breadcrumb-item {
    & a {
      color: $gray;

      &:hover {
        text-decoration: underline;
      }
    }


    &.active {
      line-height: 1;
      color: $dark-gray;
    }
  }
}
