/*----------------------------------------*/
/*           15. checkout CSS
/*----------------------------------------*/

.checkout-form {
  &__title {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    text-transform: capitalize;
    font-weight: 600;
  }

  & .row > * {
    margin-bottom: 1.5rem;
  }

  & .form-control {
    background-color: $white-lilac;
    border: none;
    height: calc(2.25rem + 6px);
    @include border-radius(1.5rem);

    &:focus {
      border: 1px solid $yellow;
    }
  }

  & .nice-select {
    width: 100%;
    line-height: 27px;

    & .list {
      width: 100%;
      @include border-radius(.25rem);
    }
  }

  &__payment {
    padding-bottom: 1rem;

    & .custom-radio {
      margin: .5rem 0;
    }
  }

  &__btn {
    @extend %btn-light-green;
    margin-top: 2rem;
    width: 100%;
    display: block;
    padding: .5rem 1.25rem;
  }
}

/* order list review */
.order-review {
  border: 1px solid rgba($gainsboro, 0.45);
  padding: 1.25rem;
  @include border-radius(.4rem);
  @include mx-bp-medium {
    margin-top: 1.5rem;
  }

  &__title {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
  }

  &__list {
    &--item {
      & > span:last-child {
        float: right;
        display: inline-block;
      }

      &:not(:last-child):after {
        content: '';
        border-bottom: 1px solid $gainsboro;
        width: 100%;
        margin: .75rem 0;
        display: block;
      }

      &:last-child {
        font-weight: 600;
      }
    }
  }
}