/*----------------------------------------*/
/*           16. coming soon CSS
/*----------------------------------------*/

// coming soon page
.countdown {
  &__cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    @include d-flex;
  }

  &__bg {
    width: 100%;
    align-items: center;
    align-self: center;
    z-index: 1000;

    & > .container {
      padding-top: 3.25rem;
      padding-bottom: 3.25rem;
    }
  }

  &__title {
    text-align: center;
    font-size: 3rem;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
    @include mx-bp-medium {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  }

  .countdown {
    & .wrapper {
      text-align: center;
      color: $white;
      @include mx-bp-medium {
        margin-bottom: 1rem;
      }
    }

    & span {
      &.time {
        display: block;
        font-size: 3rem;
        @include mx-bp-medium {
          font-size: 2rem;
        }
      }

      &.label {
        font-size: 2rem;
        text-transform: uppercase;
        @include mx-bp-medium {
          font-size: 1.25rem;
        }
      }
    }
  }

  & .subscribe {
    margin: 2.5rem auto 0 auto;

    & span {
      display: block;
      color: $white;
      text-align: center;
      text-transform: uppercase;
      font-weight: 600;
      padding-bottom: 1rem;
      @include bp-medium {
        font-size: 1.25rem;

      }
    }

    & .form-control {
      height: calc(2.25rem + 6px);
      border: 1px solid $white;
      @include border-radius(1.5rem);
    }

    & .subscribe__btn {
      @extend %btn-yellow;
      display: block;
      width: 100%;
      padding: 0.5rem 1.25rem;
      @include mx-bp-large {
        margin-top: 1rem;
      }
    }
  }

  &__footer {
    margin-top: 1.5rem;

    &--social {
      text-align: center;

      & li {
        display: inline-block;
        padding: 0 .25rem;
        @include bp-medium {
          font-size: 1.25rem;
        }

        & a {
          color: $light-gray;
          @include transition(all .3s ease-in);

          &:hover {
            color: $yellow;
          }
        }
      }
    }

    &--home-link {
      text-align: center;
      color: $white;
      display: block;
      padding-top: 1rem;
      @include bp-medium {
        font-size: 1.25rem;
      }

      &:hover {
        color: $white;
        text-decoration: underline;
      }
    }
  }
}

/* end coming soon page */

.body-overlay {
  background: rgba($black, 0.5) none repeat scroll 0 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
}
