/*----------------------------------------*/
/*           12. faq CSS
/*----------------------------------------*/

.faq-section {
  &__title {
    font-weight: 600;
    margin-bottom: 3rem;
  }

  & .faq-content {
    margin-bottom: 3rem;
    padding: 0 1.25rem;

    .title {
      font-size: 1.3rem;
      font-weight: 500;
      margin-bottom: 1.35rem;
    }

    & p {
      font-size: 0.95rem;
    }
  }
}