@mixin transition($value) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -ms-transition: $value;
  -o-transition: $value;
  transition: $value;
}

@mixin transition-delay($value) {
  -webkit-transition-delay: $value;
  -moz-transition-delay: $value;
  -ms-transition-delay: $value;
  -o-transition-delay: $value;
  transition-delay: $value;
}

@mixin transform($value) {
  -webkit-transform: $value;
  -moz-transform: $value;
  -ms-transform: $value;
  -o-transform: $value;
  transform: $value;
}

@mixin box-shadow($value) {
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  -ms-box-shadow: $value;
  -o-box-shadow: $value;
  box-shadow: $value;
}

@mixin border-radius($value) {
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  -ms-border-radius: $value;
  -o-border-radius: $value;
  border-radius: $value;
}

@mixin border-top-right-radius($value) {
  -webkit-border-top-right-radius: $value;
  -moz-border-top-right-radius: $value;
  -ms-border-top-right-radius: $value;
  -o-border-top-right-radius: $value;
  border-top-right-radius: $value;
}

@mixin border-bottom-right-radius($value) {
  -webkit-border-bottom-right-radius: $value;
  -moz-border-bottom-right-radius: $value;
  -ms-border-bottom-right-radius: $value;
  -o-border-bottom-right-radius: $value;
  border-bottom-right-radius: $value;
}

@mixin border-top-left-radius($value) {
  -webkit-border-top-left-radius: $value;
  -moz-border-top-left-radius: $value;
  -ms-border-top-left-radius: $value;
  -o-border-top-left-radius: $value;
  border-top-left-radius: $value;
}

@mixin border-bottom-left-radius($value) {
  -webkit-border-bottom-left-radius: $value;
  -moz-border-bottom-left-radius: $value;
  -ms-border-bottom-left-radius: $value;
  -o-border-bottom-left-radius: $value;
  border-bottom-left-radius: $value;
}

@mixin animation($value) {
  -webkit-animation: $value;
  -moz-animation: $value;
  -ms-animation: $value;
  -o-animation: $value;
  animation: $value;
}

@mixin d-flex {
  display: -ms-flexbox;
  display: flex;
}

@mixin flex-direction($value) {
  -webkit-flex-direction: ($value);
  -moz-flex-direction: ($value);
  -ms-flex-direction: ($value);
  flex-direction: ($value);
}

@mixin flex-wrap($value) {
  -ms-flex-wrap: ($value);
  flex-wrap: ($value);
}

@mixin align-items($value) {
  -webkit-align-items: $value;
  -ms-flex-align: $value;
  align-items: $value;
}

@mixin align-self($value) {
  -webkit-align-self: $value;
  -ms-flex-item-align: $value;
  align-self: $value;
}

@mixin justify-content($value) {
  -webkit-box-pack: $value;
  -ms-flex-pack: $value;
  -webkit-justify-content: $value;
  justify-content: $value;
}

@mixin flex($value) {
  -webkit-flex: $value;
  -ms-flex: $value;
  flex: $value;
}

// responsive grids
@mixin bp-small {
  @media only screen and (min-width: 576px) {
    @content;
  }
}

@mixin bp-medium {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin bp-large {
  @media only screen and (min-width: 992px) {
    @content;
  }
}

@mixin bp-x-large {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}

@mixin mx-bp-x-large {
  @media only screen and (max-width: 1999px) {
    @content;
  }
}

@mixin mx-bp-large {
  @media only screen and (max-width: 991px) {
    @content;
  }
}

@mixin mx-bp-medium {
  @media only screen and (max-width: 767px) {
    @content;
  }
}

@mixin mx-bp-small {
  @media only screen and (max-width: 575px) {
    @content;
  }
}