
/*----------------------------------------*/
/*           26. Pagination CSS
/*----------------------------------------*/

/* product list custom pagination */
.custom-pagination {
  @include mx-bp-medium {
    margin-top: 0.625rem;
  }

  & .page-item.active,
  & .page-item:hover {
    & .page-link {
      z-index: 1;
      color: $white;
      background-color: $yellow;
      border-color: $yellow;
    }
  }

  & .page-item:first-child,
  & .page-item:last-child {
    & .page-link {
      @include border-radius(50%);
    }
  }

  & .page-link {
    margin: 0 .2rem;
    color: $dark-gray;
    background: transparent;
    @include border-radius(50%);
    border: 1px solid #e6e6e6;
    min-width: 40px;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 1.5;
    @include transition(.4s ease);
  }
}

.shop-pagination {
  margin-top: 0.625rem;

  @include bp-medium {
    @include d-flex;
    @include justify-content(space-between);
    @include align-items(center);
    margin-top: 1.25rem;
  }

  & .pagination {
    margin: 0;
  }

  & .result {
    font-size: 0.875rem;
    color: $gray;
    font-weight: 600;
    @include mx-bp-medium {
      padding-top: 1rem;
      display: inline-block;
    }
  }
}