
/*----------------------------------------*/
/*           28. Register/sign up CSS
/*----------------------------------------*/

.custom-form {
  &--box {
    @include align-self(center);
    margin: 0 auto;
    padding: 1.25rem;
    @include border-radius(.4rem);
    @include box-shadow(1px 1px 5px 0 rgba($dark-gray, 0.2));
    @include bp-medium {
      padding: 3.5rem;
    }

    & .custom-form__title {
      font-size: 1.1rem;
      text-align: center;
      margin-bottom: 2rem;
      font-weight: 600;
      text-transform: capitalize;
      @include bp-medium {
        font-size: 1.25rem;
      }
    }

    & .custom-form__link {
      display: inline-block;
      padding-bottom: 1.5rem;

      & > a {
        color: $light-green;
        letter-spacing: 1px;
        font-weight: 600;

        &:hover {
          text-decoration: underline;
        }
      }
    }

  }

  &__title {
    font-size: 1.1rem;
    margin-bottom: 1.25rem;
    font-weight: 600;
    text-transform: capitalize;
    @include bp-medium {
      font-size: 1.25rem;
      margin-bottom: 1.5rem;
    }
  }

  &__input {
    margin-bottom: 0;
    padding-bottom: 1.25rem;

    & .form-control {
      border: 1px solid transparent;
      padding: .375rem 1rem;
      background: $white-lilac;

      &:not(textarea) {
        height: calc(2.25rem + 6px);
        @include border-radius(1.5rem);
      }

      &:focus {
        border: 1px solid $yellow;
        @include transition(border .3s ease-in-out 0s);
      }
    }

    & label {
      color: $gray;
    }

    & .nice-select {
      width: 100%;
      line-height: 27px;

      & .list {
        width: 100%;
        @include border-radius(1.5rem);
      }
    }
  }

  .input-box {
    position: relative;

    &__icon {
      position: absolute;
      top: 50%;
      right: 10px;
      z-index: 2;
      width: 20px;
      background: transparent;
      @include transform(translateY(-50%));
    }
  }

  & .btn {
    padding: 0.5rem 1.25rem;
  }

  &__btn {
    & .submit-btn {
      @extend %btn-yellow;
      width: 100%;
      display: block;
    }

    & .change-pass-btn {
      @extend %btn-dark;
      width: 100%;
      display: block;
      margin-top: 0.625rem;
    }

    & .btn-close {
      @extend %btn-gray;
    }

    & .btn-green {
      @extend %btn-light-green;
    }

  }

  & .forgot-pass {
    & a {
      color: $gray;
      display: block;
      line-height: 1;
      padding-bottom: 1.25rem;
    }
  }

  &__footer {
    /* login with social medias */
    & .devider {
      border: 1px solid rgba($gainsboro, 0.45);
      margin: 2.75rem 0;
      text-align: center;
      position: relative;

      & span {
        position: absolute;
        left: 0;
        right: 0;
        top: -9px;
        background: $white;
        display: inline-block;
        width: 100px;
        margin: auto;
        line-height: 1;
      }
    }


    & .social-login {
      text-align: center;

      & li {
        display: inline-block;

        & .social-icon {
          font-size: 1.5rem;
          padding: 0 0.5rem;

          &.fb-icon {
            color: $facebook;
          }

          &.tr-icon {
            color: $twitter;
          }

          &.gl-icon {
            color: $google;
          }
        }
      }
    }


    &--link {
      margin-top: 1.5rem;
      text-align: center;

      & h6 {
        margin-bottom: 1rem;
      }

      & .btn {
        @extend %btn-light-green;
      }
    }
  }

  &__img {
    margin-top: 1.25rem;
  }
}


/* password box with show/hide pass */
.password-box {
  & input {
    padding: .375rem 2.2rem .375rem 1rem;
  }
}


