
/*----------------------------------------*/
/*           22. Typography CSS
/*----------------------------------------*/


p {
  line-height: 1.7;
  color: $gray;
}

%text-truncate {
  width: 100%;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -o-white-space: nowrap;
  white-space: nowrap;
}