
// colors
$black: #000000;
$white: #ffffff;
$white-lilac: #f6f7fb;
$gray: #808080;
$gainsboro: #cfcfcf;
$light-gray: #f8f8f8;
$dark-gray: #474747;
$skyblue: #dbe7f3;
$viking-blue: #79aee0;
$dark-blue: #1b263f;
$slate-blue: #5b65e9;
$green: #3dba69;
$elf-green: #178f5e;
$light-green: #54cb8f;
$sunset-orange: #f85555;
$yellow: #f7b926;
$titan-white: #f4f5ff;
$facebook: #3b5998;
$twitter: #00aced;
$pinterest: #CB1F27;
$linkedin: #007bb6;
$google: #dd4b39;


