/* ########################################### */
/*                 Global                      */
/* ########################################### */
* {
	box-sizing: border-box;
}

a {
	color: #7f3e3e;
	font-weight: bolder;
}

button {
	font-size: 15px;
	color: #FFFFFF;
	background-color: rgb(28, 137, 187);
	border: none;
}

/* ########################################### */
/*           ForumIndex.jsp                    */
/* ########################################### */
.forum_container {
	margin: 50px 20px 20px 20px;
	padding: 20px;
}

.subforum {
	margin-top: 20px;
}

.subforum-title {
	padding: 5px;
	margin: 4px;
	text-align: right;
	background-color: #C45454;
}

.subforum-row {
	display: grid;
	grid-template-columns: 5% 38% 15% 20%;
}

.subforum-column {
	padding: 10px;
	background-color: rgb(245, 245, 245);
	border-bottom: 1px solid rgb(220, 220, 220);
}

.subforum-description {
	font-size: 20px;
	line-height: 72px;
}

.subforum-stats {
	font-size: 14px;
}

.subforum-info {
	font-size: 14px;
	line-height: 24px;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.subforum-icon i {
	font-size: 30px;
	color: #C45454;
}

.subforum-devider {
	display: none;
}

.hot {
	background-color: rgb(245, 245, 245);
	width: 20%;
	position: absolute;
	right: 40px;
	top: 145px;
}

.hot_title {
	background-color: black;
	color: #FFFFFF;
	padding: 10px;
}

.hot_detail {
	padding: 10px;
	font-size: 14px;
}

/* ########################################### */
/*             topic.jsp                       */
/* ########################################### */
/* For the smartphones */
.table-head {
	display: flex;
	color: #FFFFFF;
}

.table-head div {
	padding: 5px;
	margin-top: 2px;
	margin-bottom: 2px;
	background-color: #C45454;
	font-weight: bold;
}

.table-head .status {
	flex: 10%;
}

.table-head .subjects {
	flex: 60%;
}

.table-head .replies {
	flex: 15%;
}

.table-head .last-reply {
	flex: 15%;
}

.table-row {
	display: flex;
	background-color: rgb(245, 245, 245);
}

.table-row .status, .table-row .subjects, .table-row .replies,
	.table-row .last-reply {
	padding: 5px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.table-row .status {
	flex: 10%;
	text-align: center;
	line-height: 72px;
}

.table-row .subjects {
	flex: 60%;
}

.table-row .replies {
	flex: 15%;
	position: relative;
	transform: translateY(10px);
}

.table-row .last-reply {
	flex: 15%;
	position: relative;
	transform: translateY(10px);
}

.table-row .last-reply .no_reply {
	flex: 15%;
	line-height: 50px;
}

.navigate {
	margin-top: 26px;
	font-weight: lighter;
	font-size: 24px;
}

.navigate a {
	color: black;
}

.navigate a:hover {
	color: #FF0042;
	font-weight: bolder;
}

.poster {
	font-size: 14px;
}

/* ########################################### */
/*           searchResult.jsp                  */
/* ########################################### */
.table-head .search_result {
	flex: 85%;
}

.table-head .search_topic {
	flex: 15%;
	text-align: center;
}

.table-row .search_result {
	flex: 85%;
	border-bottom: 2px solid #262626;
	height: 90px;
	margin-top: 5px;
	padding-left: 5px;
}

.table-row .search_topic {
	flex: 15%;
	border-bottom: 2px solid #262626;
	line-height: 83px;
	text-align: center;
}

/* ########################################### */
/*               post.jsp                      */
/* ########################################### */
.head {
	display: flex;
	background-color: #C45454;
	padding: 5px;
	margin-top: 2px;
	margin-bottom: 2px;
	font-weight: bold;
	font-size: 15px;
}

.title {
	flex: 80%;
	color: #FFFFFF;
}

.view {
	color: #FFFFFF;
}

.authors {
	flex: 18%;
}

.content {
	flex: 82%;
	position: relative;
}

.time {
	position: absolute;
	bottom: 0px;
}

.body {
	display: flex;
	background-color: rgb(245, 245, 245);
	padding: 10px;
	margin-top: 5px;
	padding: 10px;
}

.body .authors .username {
	font-size: 20px;
}

#mode {
	background-color: #C45454;
	color: #FFFFFF;
}

/* ########################################### */
/*               posting.jsp                   */
/* ########################################### */
.posting_background {
	background-color: rgb(245, 245, 245);
}

/* ########################################### */
/*               Report Area                   */
/* ########################################### */
.report_area {
	display: none;
	position: fixed;
	z-index: 8;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

.modal_report {
	margin: 100px auto;
	border: 1px solid #ffffff00;
	width: 60%;
}

.modal_report form {
	padding: 25px;
	margin: 25px;
	box-shadow: 0 2px 5px #f5f5f5;
	background: #eee;
}

.modal_report textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #1c87c9;
	outline: none;
}

#report_submit_btn {
	width: 100%;
	padding: 10px;
	border: none;
	background: #1c87c9;
	font-size: 16px;
	font-weight: 400;
	color: #fff;
}

.report_close_btn {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	margin-right: 5px;
}

.report_close_btn:hover, .report_close_btn:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

/* ########################################### */
/*            Buttons & Paging                 */
/* ########################################### */
.add_post_btn {
	float: right;
}

#submit_btn {
	float: right;
}

.next_page {
	margin-bottom: 30px;
}

.paging {
	float: right;
}

.post_modify_btn {
	float: right;
}

.reply_modify_btn {
	float: right;
}

.new_post_btn {
	float: right;
}

/* ########################################### */
/*               AutoSkip                      */
/* ########################################### */
.AutoSkip {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* ########################################### */
/*                  RWD                        */
/* ########################################### */

/* For the tablets */
@media screen and (min-width: 460px) and (max-width: 1024px) {
	/* ForumIndex.jsp*/
	.forum_container {
		margin: 50px 15px 15px 15px;
		padding: 15px;
	}
	.subforum-row {
		display: grid;
		grid-template-columns: 10% 33% 13% 20%;
	}
	/* Topic.jsp*/
	.table-head .status {
		flex: 10%;
	}
	.table-head .subjects {
		flex: 45%;
	}
	.table-head .replies {
		flex: 25%;
	}
	.table-head .last-reply {
		flex: 20%;
	}
	.table-row .status {
		flex: 10%;
	}
	.table-row .subjects {
		flex: 45%;
	}
	.table-row .replies {
		flex: 25%;
	}
	.table-row .last-reply {
		flex: 20%;
	}
	/* SearchResult.jsp*/
	.table-row .search_topic {
		font-size: 10px;
	}
}

/* For the smartphones */
@media screen and (max-width: 460px) {
	/* ForumIndex.jsp*/
	.forum_container {
		margin: 50px 10px 10px 10px;
		padding: 10px;
	}
	.subforum-row {
		display: grid;
		grid-template-columns: 30% 70%;
		grid-template-rows: 50% 45%;
	}
	.hot {
		background-color: rgb(245, 245, 245);
		width: 100%;
		position: relative;
		right: 0;
		top: 0;
	}
	/* topic.jsp*/
	.table-head .status {
		flex: 5%;
	}
	.table-head .subjects {
		flex: 40%;
	}
	.table-head .replies {
		flex: 25%;
	}
	.table-head .last-reply {
		flex: 30%;
	}
	.table-row .status {
		flex: 5%;
		line-height: 24px;
	}
	.table-row .subjects {
		flex: 40%;
	}
	.table-row .replies {
		flex: 25%;
	}
	.table-row .last-reply {
		flex: 30%;
	}
	.table-row {
		margin-bottom: 3px;
	}
	/* Posts.jsp*/
	.title {
		flex: 78%;
	}
	.view {
		flex: 22%;
	}
	.authors {
		flex: 25%;
	}
	.content {
		flex: 75%;
		position: relative;
	}
	.post_modify_btn, .post_report_btn, .post_report_btn_no,
		.reply_modify_btn, .reply_report_btn, .reply_report_btn_no,
		.add_post_btn {
		font-size: 10px;
	}
	.time {
		font-size: 12px;
	}
	.modal_report {
		width: 90%;
	}
	/* SearchResult.jsp*/
	.table-head .search_result {
		flex: 70%;
	}
	.table-head .search_topic {
		flex: 30%;
	}
	.table-row .search_result {
		flex: 70%;
	}
	.table-row .search_topic {
		flex: 30%;
		font-size: 10px;
	}
	/* Page*/
	.next_page {
		font-size: 14px;
	}
}